*{
    margin:0;
    padding:0;
}

body{
    font-family:sans-serif;
    background: #f3f4f6;
    display:flex;
    align-items: center;       /* Vertical */ 
    justify-content: center;   /* Horizontal */
    min-height:100vh;          /* It is better to use vh instead of %. Cover 100% viewport/browser height. Not needed for width as browser always knows width but not height*/ 
    height:90vh;
}

.container{
    width:50%;   /* 50% of window. Makes responsive as viewport changes it will change relatively. Browser always knows width so no need to define in parent */
    /* height:80vh;     If your screen height is 900px: height: 50vh → 450px tall. Browser dosent know height so need to define in parent if we want to use %, else use vh */
    max-width:1200px;
    height:80%;
}

.bento-grid-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);   /* 4 columns of size 1 fraction of available space (parent cintatiner space) */
    grid-template-rows: repeat(4,1fr);
    gap:15px;
    /* height:40rem;                          rem - relative to parent */
    height:100%;    /* 100% of .container which is 80% of body which is 90 vertical height*/
}

.bento-grid-container > div{ /*First direct child div of this*/
    border-radius: 16px;
    background: linear-gradient(135deg,#6a11cb 0%,  #2575fc 100%); /*This function tells CSS to create a smooth transition between two or more colors along a straight line. The gradient starts from the top left (0° is top to bottom) 135° means it goes diagonally from top-left → bottom-right.The 0% in color means the gradient begins with this color at the start of the line.The 100% in color means this color appears at the end of the gradient line. */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3 rem;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /*transform (scale, roatation, translate) and box-shadow of these components if change then this will be their animation effect*/
    cursor:pointer; /*Change cursor to pointer*/
}

.item1, .item2, .item3{
    background: linear-gradient(135deg,#e6e6e6 0%, #64605f 100%) !important;
}

.item4, .item5, .item6{
    background: linear-gradient(135deg,#f3d1d1 0%, #64605f 100%) !important;
}

.item7, .item8{
    background: linear-gradient(135deg,#684a4a 0%, #64605f 100%) !important;
}

.item1{
    grid-column: span 1;
    grid-row: span 1;
}
.item2{
    grid-column: span 1;
    grid-row: span 2;
}
.item3{
    grid-column: span 2;
    grid-row: span 1;
}
.item4{
    grid-column: span 1;
    grid-row: span 1;
}
.item5{
    grid-column: span 1;
    grid-row: span 1;
}
.item6{
    grid-column: span 1;
    grid-row: span 1;
}
.item7{
    grid-column: span 1;
    grid-row: span 1;
}
.item8{
    grid-column: span 3;
    grid-row: span 1;
}

.bento-grid-container > div:hover{
    transform : scale(1.05); /*scale up by 5%*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /*horizontal-offser 0, vertical-offset 10px, blur-radius 20px, color black with 15% transpiracy*/
}

.item1:hover {
    transform: rotateX(360deg) !important;
    transition: 2s ease-in-out;
}

@media (max-width:768px){
    /* .container{
    } */
}